@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root{
      --main: 13 146 118;
      --secondary: 255 246 233;
      --third: 6 6 6;
      --fourth: 255 255 255;
      --firth: 28 28 35;
      --sixth : 108 108 108;
      --cover: 1 18 31;
      --true : 6 148 22;
      --transparent : transparent;

      --sideBar : 15rem;
      --appMargin : 5rem;
      --layoutHeight : 3rem;
      
    }
    .theme1{
      --main: 141 73 58;
      --secondary : 248 237 227;
      --third: 0 28 48;
      --fourth: 43 43 43;
      --firth: 255 255 255;
      --sixth : 129 147 147;
      --cover: 1 18 31;
      --true : 6 148 22;
      --transparent : transparent;
    }
    .theme2{
        --main : 242 120 159;
        --secondary : 254 227 236
    }
    .dark {
        --mian : 34 40 49;
        --secondary : 49 54 63;
    }

    .hide_side_bar {    
        background-color: red;
    }
  }